[submodule "ep2/src"]
	path = ep2/src
	url = https://github.com/crixo/docker-TTG
[submodule "ep3/src"]
	path = ep3/src
	url = https://github.com/sabbadino/deltatre-community-meetups-session-3
[submodule "ep4/src-security"]
	path = ep4/src-security
	url = https://github.com/maxgio92/k8s-aaca-security-topics-session.git
[submodule "ep4/src-advanced"]
	path = ep4/src-advanced
	url = https://github.com/CarloAlbertoS/KDW-AdvancedK8S
[submodule "ep5/src-ci-cd-azure-devops"]
	path = ep5/src-ci-cd-azure-devops
	url = https://github.com/raunodepasquale/kubernetes-CI-CD-presentation
[submodule "ep5/src-gitlab-demo-terraform"]
	path = ep5/src-gitlab-demo-terraform
	url = https://github.com/sparkfabrik/demo-gitlab-ci-cd-terraform
[submodule "ep5/src-gitlab-demo-app"]
	path = ep5/src-gitlab-demo-app
	url = https://github.com/sparkfabrik/demo-gitlab-ci-cd-app
